<div class="divcostume">
	<div class="row">
		<div class="col-4">
	<div class="card mb-3 bordercard">
		<img alt="predator.jpg" src="assets/img/predator.jpg">
		<div class="card-body">
			<h5 class="card-title">Predator</h5>
			<p class="card-text">Costume tiré de la saga a succès "PREDATOR" uniSex</p>
			<p class="card-text"><small class="text-muted">1099,99 EU</small></p>
		</div>
	</div>
	<div class="card mb-3 bordercard">
		<img src="assets/img/Forniteskin.jpg">
		<div class="card-body">
			<h5 class="card-title">Rafale</h5>
			<p class="card-text">Costume Rafale tiré du jeu au succès fulgurant "FORNITE" avec différentes forme</p>
			<p class="card-text"><small class="text-muted">299,99 EU</small></p>
		</div>
	</div>
	<div class="card mb-3 bordercard">
		<img src="assets/img/marshmalow.jpg">
		<div class="card-body">
			<h5 class="card-title">Marshmalow</h5>
			<p class="card-text">Costume Marshmalow pour être a la fois méconnaissable et adorablement froid</p>
			<p class="card-text"><small class="text-muted">49,99 EU</small></p>
		</div>
	</div>
</div>
<a href="#!/acceuil">Retour</a>