			<div class="divcostume">
				<div class="row">
					<div class="col-sm-4">
						<div class="card mb-3 bordercard">
							<img class="imgImage" alt="predator.jpg" src="assets/img/predator.jpg">
							<div class="card-body">
								<h5 class="card-title">Predator</h5>
								<p class="card-text">Costume tiré de la saga a succès "PREDATOR" uniSex</p>
								<div><button type="button" class="btn btn-light" ng-click="addCart(product)">
									Ajouter au panier
								</button>
								<p class="price card-text">1099,99 EU</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card mb-3 bordercard">
						<img class="imgImage" src="assets/img/Forniteskin.jpg">
						<div class="card-body">
							<h5 class="card-title">Rafale</h5>
							<p class="card-text">Costume Rafale tiré du jeu au succès fulgurant "FORNITE" avec différentes forme</p>
							<div> <button type="button" class="btn btn-light">
								Ajouter au panier
							</button>
							<p class="price card-text">299,99 EU</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card mb-3 bordercard">
					<img class="imgImage" src="assets/img/marshmalow.jpg">
					<div class="card-body">
						<h5 class="card-title">Marshmalow</h5>
						<p class="card-text">Costume Marshmalow pour être a la fois méconnaissable et adorablement froid</p>
						<div><button type="button" class="btn btn-light">
							Ajouter au panier
						</button>
						<p class="price card-text">49,99 EU</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
