<div class="row">
  <div class="col-4">
    <div class="card mb-3">
      <img src="assets/img/deco1.jpg" alt="Card image cap" class="imgImage">
      <div class="card-body">
        <h5 class="card-title">Squelette spectral à suspendre</h5>
        <p class="card-text">Ajoutez une touche de frayeur à votre décoration Halloween avec ce terrifiant squelette spectral à suspendre !</p>
        <div>
          <p class="card-text price"><strong>24,90 €</strong></p>
          <p class="card-text"><small class="text-muted">Prix hors frais de livraison</small></p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mb-3">
      <img src="assets/img/deco2.jpg" alt="Card image cap" class="imgImage">
      <div class="card-body">
        <h5 class="card-title">Spectre enchaîné à suspendre</h5>
        <p class="card-text">Faites peur à votre entourage et vos invités grâce à ce spectre enchaîné à suspendre !</p>
        <div>
          <p class="card-text price"><strong>24,90 €</strong></p>
          <p class="card-text"><small class="text-muted">Prix hors frais de livraison</small></p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mb-3">
      <img src="assets/img/deco3.jpg" alt="Card image cap" class="imgImage">
      <div class="card-body">
        <h5 class="card-title">Conteneur à boisson poche de sang</h5>
        <p class="card-text">Vous avez toujours rêvé de boire dans une poche de sang ? Votre souhait est exaucé ! Avec ce set de poches factices vous pouvez boire n'importe quelle boisson (autre que du sang), grâce à la paille reproduisant le tube conducteur à la seringue, comme si vous sirotiez directement dans une vrai poche votre boisson ! </p>
        <div>
          <p class="card-text price"><strong>15,90 €</strong></p>
          <p class="card-text"><small class="text-muted">Prix hors frais de livraison</small></p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
</div>
