<div class="row">
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" style="width: 25rem;" id="zoom">
        <img src="assets/img/deco1.jpg" alt="Card image cap" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Squelette spectral à suspendre</h5>
          <p class="card-text">Ajoutez une touche de frayeur à votre décoration Halloween avec ce terrifiant squelette spectral</p>
          <div>
            <p class="card-text price"><strong>24,90 €</strong></p>
            <button type="button" class="btn btn-light">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" style="width: 25rem;" id="zoom">
        <img src="assets/img/deco2.jpg" alt="Card image cap" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Spectre enchaîné à suspendre</h5>
          <p class="card-text">Faites peur à votre entourage et vos invités grâce à ce spectre enchaîné à suspendre !</p>
          <div>
            <p class="card-text price"><strong>24,90 €</strong></p>
            <button type="button" class="btn btn-light">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" style="width: 25rem;" id="zoom">
        <img src="assets/img/deco3.jpg" alt="Card image cap" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Conteneur à boisson poche de sang</h5>
          <p class="card-text">Vous avez toujours rêvé de boire dans une poche de sang ? Votre souhait est exaucé</p>
          <div>
            <p class="card-text price">15,90 €</p>
            <button type="button" class="btn btn-light">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
