<!--Début Fa Maquillage  -->
<div class="row">
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" id="zoom">
        <img src="assets/img/maquillage1.jpg" alt="Tatouage" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Tatouages Temporaires</h5>
          <p class="card-text">Halloween Zombie Scars tatouages</p>
          <div>
            <p class="card-text price">5,99€</p>
            <button type="button" class="btn btn-light" ng-click="addCart()">Ajouter Panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" id="zoom">
        <img  src="assets/img/maquillage2.jpg" alt="Palette Fard" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Palette Fard</h5>
          <p class="card-text">Scary's Maquillage Professionnel, idéal pour les Enfants</p>
          <div>
            <p class="card-text price">12,99€</p>
            <button type="button" class="btn btn-light" ng-click="addCart()">Ajouter au Panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card mb-3">
      <div class="card zoom" id="zoom">
        <img  src="assets/img/maquillage3.jpg" alt="Kit Maquillage" class="imgImage">
        <div class="card-body">
          <h5 class="card-title">Scaryshop's Kit</h5>
          <p class="card-text">Maquillage de Vempire:Cros, Eponge, Maquillage et Sang</p>
          <div>
            <p class="card-text price">5,97€</p>
            <button type="button" class="btn btn-light" ng-click="addCart()">Ajouter au Panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fin Fa Maquillage  -->
