<!--Début Fa Maquillage  -->

<div class="card mb-3">
<img class="card-img-top" src="../assets/img/maquillage1.jpg" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">Tatouages Temporaires</h5>
  <p class="card-text">Halloween Zombie Scars tatouages</p>
  <p class="card-text"><small class="text-muted">5,99€</small></p>
</div>
</div>
<div class="card mb-3">
<img class="card-img-top" src="../assets/img/maquillage2.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Palette Fard</h5>
<p class="card-text">Scary's Maquillage 15 Couleurs Professionnel, idéal pour les Enfants</p>
<p class="card-text"><small class="text-muted">12,99€</small></p>
</div>
</div>
<div class="card mb-3">
<img class="card-img-top" src="../assets/img/maquillage3.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Scaryshop's Kit</h5>
<p class="card-text">Maquillage de Vempire:Cros, Eponge, Maquillage et Sang</p>
<p class="card-text"><small class="text-muted">5,97€</small></p>
</div>
</div>
<a href="#!/accueil"></a>


<!--Fin Fa Maquillage  -->
