
.bordercard{
	border: px solid red !important;
}
footer{
  background-color: #343A40;
  color: white;
}
.imageimg{
	height: 570px;
}
.imgImage{
	width: 350px;
	height: 300px;
}
.price{
	float: right;
	font-weight: bold;
	font-size: 16px;
	color: red;
}
nav{
	justify-content: center !important;
}
.mtfooter{
  margin-top: 2%;
}
.card-text{
}
.logofooter{
  width: 30px;
  height:25px;
}
