
.bordercard{
	border: 5px solid black !important;
}
footer{
  background-color: #232323;
  color: white;
  position:
}
.card{
  width: 400px;
  height: 400px;
}

}
.imageimg{
	width: 1366px;
	height: 570px;
}
